@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <div class="uhf-container">
            <h2 class="has-margin-top-none ">Develop ASP.NET Core apps</h2>
            <p class="has-margin-top-none has-margin-bottom-large">Choose interactive web apps, web API, MVC-patterned apps, real-time apps, and more</p>
            <div class="row is-multiline">
                <div class="col-md-3">
                    <div class="box is-full-height has-padding-large">
                        <h3 class="is-size-4 has-margin-top-none has-margin-bottom-small">Interactive client-side Blazor apps</h3>
                        <p class="is-size-7 has-line-height-reset has-margin-top-none has-margin-bottom-medium">Develop with reusable UI components that can take advantage of WebAssembly for near-native performance</p>
                        <ul class="has-line-height-reset has-margin-left-none has-margin-bottom-none has-margin-top-extra-small">
                            <li class="is-unstyled has-margin-bottom-small">
                                <a href="blazor/?view=aspnetcore-3.1" class="has-flex-justify-content-start is-flex is-fullwidth has-text-wrap is-size-7" data-linktype="relative-path">
                                    <span class="docon docon-topic-overview is-size-5 has-margin-right-small" aria-hidden="true"></span>
                                    <span>Overview</span>
                                </a>
                            </li>
                            <li class="is-unstyled has-margin-bottom-small">
                                <a href="blazor/get-started?view=aspnetcore-3.1" class="has-flex-justify-content-start is-flex is-fullwidth has-text-wrap is-size-7" data-linktype="relative-path">
                                    <span class="docon docon-topic-get-started is-size-5 has-margin-right-small" aria-hidden="true"></span>
                                    <span>Create your first Blazor app</span>
                                </a>
                            </li>
                            <li class="is-unstyled has-margin-bottom-small">
                                <a href="tutorials/build-your-first-blazor-app?view=aspnetcore-3.1" class="has-flex-justify-content-start is-flex is-fullwidth has-text-wrap is-size-7" data-linktype="relative-path">
                                    <span class="docon docon-topic-get-started is-size-5 has-margin-right-small" aria-hidden="true"></span>
                                    <span>Build your first Blazor app with reusable components</span>
                                </a>
                            </li>
                            <li class="is-unstyled has-margin-bottom-small">
                                <a href="blazor/hosting-models?view=aspnetcore-3.1" class="has-flex-justify-content-start is-flex is-fullwidth has-text-wrap is-size-7" data-linktype="relative-path">
                                    <span class="docon docon-topic-concept is-size-5 has-margin-right-small" aria-hidden="true"></span>
                                    <span>Blazor hosting models</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box is-full-height has-padding-large">
                        <h3 class="is-size-4 has-margin-top-none has-margin-bottom-small">RESTful web API apps</h3>
                        <p class="is-size-7 has-line-height-reset has-margin-top-none has-margin-bottom-medium">Develop RESTful HTTP services with ASP.NET Core web API</p>
                        <ul class="has-line-height-reset has-margin-left-none has-margin-bottom-none has-margin-top-extra-small">
                            <li class="is-unstyled has-margin-bottom-small">
                                <a href="tutorials/first-web-api?view=aspnetcore-3.1" class="has-flex-justify-content-start is-flex is-fullwidth has-text-wrap is-size-7" data-linktype="relative-path">
                                    <span class="docon docon-topic-get-started is-size-5 has-margin-right-small" aria-hidden="true"></span>
                                    <span>Create a web API with ASP.NET Core</span>
                                </a>
                            </li>
                            <li class="is-unstyled has-margin-bottom-small">
                                <a href="https://docs.microsoft.com/learn/modules/build-web-api-net-core/" class="has-flex-justify-content-start is-flex is-fullwidth has-text-wrap is-size-7" data-linktype="external">
                                    <span class="docon docon-topic-learn is-size-5 has-margin-right-small" aria-hidden="true"></span>
                                    <span>Create web APIs with ASP.NET Core</span>
                                </a>
                            </li>
                            <li class="is-unstyled has-margin-bottom-small">
                                <a href="tutorials/web-api-help-pages-using-swagger?view=aspnetcore-3.1" class="has-flex-justify-content-start is-flex is-fullwidth has-text-wrap is-size-7" data-linktype="relative-path">
                                    <span class="docon docon-topic-tutorial is-size-5 has-margin-right-small" aria-hidden="true"></span>
                                    <span>Generate web API help pages with Swagger / OpenAPI</span>
                                </a>
                            </li>
                            <li class="is-unstyled has-margin-bottom-small">
                                <a href="web-api/action-return-types?view=aspnetcore-3.1" class="has-flex-justify-content-start is-flex is-fullwidth has-text-wrap is-size-7" data-linktype="relative-path">
                                    <span class="docon docon-topic-concept is-size-5 has-margin-right-small" aria-hidden="true"></span>
                                    <span>Controller action return types</span>
                                </a>
                            </li>
                            <li class="is-unstyled has-margin-bottom-small">
                                <a href="web-api/advanced/formatting?view=aspnetcore-3.1" class="has-flex-justify-content-start is-flex is-fullwidth has-text-wrap is-size-7" data-linktype="relative-path">
                                    <span class="docon docon-topic-concept is-size-5 has-margin-right-small" aria-hidden="true"></span>
                                    <span>Format response data</span>
                                </a>
                            </li>
                            <li class="is-unstyled has-margin-bottom-small">
                                <a href="web-api/handle-errors?view=aspnetcore-3.1" class="has-flex-justify-content-start is-flex is-fullwidth has-text-wrap is-size-7" data-linktype="relative-path">
                                    <span class="docon docon-topic-concept is-size-5 has-margin-right-small" aria-hidden="true"></span>
                                    <span>Handle errors</span>
                                </a>
                            </li>
                            <li class="is-unstyled has-margin-bottom-small">
                                <a href="tutorials/web-api-javascript?view=aspnetcore-3.1" class="has-flex-justify-content-start is-flex is-fullwidth has-text-wrap is-size-7" data-linktype="relative-path">
                                    <span class="docon docon-topic-tutorial is-size-5 has-margin-right-small" aria-hidden="true"></span>
                                    <span>Call an ASP.NET Core web API with JavaScript</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box is-full-height has-padding-large">
                        <h3 class="is-size-4 has-margin-top-none has-margin-bottom-small">Page-focused web UI with Razor Pages</h3>
                        <p class="is-size-7 has-line-height-reset has-margin-top-none has-margin-bottom-medium">Develop page-focused web apps with a clean separation of concerns</p>
                        <ul class="has-line-height-reset has-margin-left-none has-margin-bottom-none has-margin-top-extra-small">
                            <li class="is-unstyled has-margin-bottom-small">
                                <a href="tutorials/razor-pages/razor-pages-start?view=aspnetcore-3.1" class="has-flex-justify-content-start is-flex is-fullwidth has-text-wrap is-size-7" data-linktype="relative-path">
                                    <span class="docon docon-topic-get-started is-size-5 has-margin-right-small" aria-hidden="true"></span>
                                    <span>Create your first Razor Pages web app</span>
                                </a>
                            </li>
                            <li class="is-unstyled has-margin-bottom-small">
                                <a href="https://docs.microsoft.com/learn/modules/create-razor-pages-aspnet-core/" class="has-flex-justify-content-start is-flex is-fullwidth has-text-wrap is-size-7" data-linktype="external">
                                    <span class="docon docon-topic-tutorial is-size-5 has-margin-right-small" aria-hidden="true"></span>
                                    <span>Create a page-focused web UI that consumes a web API</span>
                                </a>
                            </li>
                            <li class="is-unstyled has-margin-bottom-small">
                                <a href="mvc/views/razor?view=aspnetcore-3.1" class="has-flex-justify-content-start is-flex is-fullwidth has-text-wrap is-size-7" data-linktype="relative-path">
                                    <span class="docon docon-topic-concept is-size-5 has-margin-right-small" aria-hidden="true"></span>
                                    <span>Razor syntax</span>
                                </a>
                            </li>
                            <li class="is-unstyled has-margin-bottom-small">
                                <a href="razor-pages/filter?view=aspnetcore-3.1" class="has-flex-justify-content-start is-flex is-fullwidth has-text-wrap is-size-7" data-linktype="relative-path">
                                    <span class="docon docon-topic-concept is-size-5 has-margin-right-small" aria-hidden="true"></span>
                                    <span>Filters</span>
                                </a>
                            </li>
                            <li class="is-unstyled has-margin-bottom-small">
                                <a href="razor-pages/razor-pages-conventions?view=aspnetcore-3.1" class="has-flex-justify-content-start is-flex is-fullwidth has-text-wrap is-size-7" data-linktype="relative-path">
                                    <span class="docon docon-topic-concept is-size-5 has-margin-right-small" aria-hidden="true"></span>
                                    <span>Routing</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box is-full-height has-padding-large">
                        <h3 class="is-size-4 has-margin-top-none has-margin-bottom-small">Page-focused web UI with MVC</h3>
                        <p class="is-size-7 has-line-height-reset has-margin-top-none has-margin-bottom-medium">Develop web apps using the Model-View-Controller design pattern</p>
                        <ul class="has-line-height-reset has-margin-left-none has-margin-bottom-none has-margin-top-extra-small">
                            <li class="is-unstyled has-margin-bottom-small">
                                <a href="mvc/overview?view=aspnetcore-3.1" class="has-flex-justify-content-start is-flex is-fullwidth has-text-wrap is-size-7" data-linktype="relative-path">
                                    <span class="docon docon-topic-overview is-size-5 has-margin-right-small" aria-hidden="true"></span>
                                    <span>Overview</span>
                                </a>
                            </li>
                            <li class="is-unstyled has-margin-bottom-small">
                                <a href="tutorials/first-mvc-app/?view=aspnetcore-3.1" class="has-flex-justify-content-start is-flex is-fullwidth has-text-wrap is-size-7" data-linktype="relative-path">
                                    <span class="docon docon-topic-get-started is-size-5 has-margin-right-small" aria-hidden="true"></span>
                                    <span>Create your first ASP.NET Core MVC app</span>
                                </a>
                            </li>
                            <li class="is-unstyled has-margin-bottom-small">
                                <a href="mvc/views/overview?view=aspnetcore-3.1" class="has-flex-justify-content-start is-flex is-fullwidth has-text-wrap is-size-7" data-linktype="relative-path">
                                    <span class="docon docon-topic-concept is-size-5 has-margin-right-small" aria-hidden="true"></span>
                                    <span>Views</span>
                                </a>
                            </li>
                            <li class="is-unstyled has-margin-bottom-small">
                                <a href="mvc/views/partial?view=aspnetcore-3.1" class="has-flex-justify-content-start is-flex is-fullwidth has-text-wrap is-size-7" data-linktype="relative-path">
                                    <span class="docon docon-topic-concept is-size-5 has-margin-right-small" aria-hidden="true"></span>
                                    <span>Partial views</span>
                                </a>
                            </li>
                            <li class="is-unstyled has-margin-bottom-small">
                                <a href="mvc/controllers/actions?view=aspnetcore-3.1" class="has-flex-justify-content-start is-flex is-fullwidth has-text-wrap is-size-7" data-linktype="relative-path">
                                    <span class="docon docon-topic-concept is-size-5 has-margin-right-small" aria-hidden="true"></span>
                                    <span>Controllers</span>
                                </a>
                            </li>
                            <li class="is-unstyled has-margin-bottom-small">
                                <a href="mvc/controllers/routing?view=aspnetcore-3.1" class="has-flex-justify-content-start is-flex is-fullwidth has-text-wrap is-size-7" data-linktype="relative-path">
                                    <span class="docon docon-topic-concept is-size-5 has-margin-right-small" aria-hidden="true"></span>
                                    <span>Routing to controller actions</span>
                                </a>
                            </li>
                            <li class="is-unstyled has-margin-bottom-small">
                                <a href="mvc/controllers/testing?view=aspnetcore-3.1" class="has-flex-justify-content-start is-flex is-fullwidth has-text-wrap is-size-7" data-linktype="relative-path">
                                    <span class="docon docon-topic-concept is-size-5 has-margin-right-small" aria-hidden="true"></span>
                                    <span>Unit test</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
             

            </div>
        </div>
    </div>
