/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    /*color: #0366d6;*/
    color: #000;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    /*background-color: #1b6ec2;*/
    background-color:#fff;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
    font-family: Calibri;
    font-size: 12px;
    font-size: .75rem;
    /*color: #b9b8b5;*/
    background-color: #fff;
    /*background-color: whitesmoke;*/
}
.body-content {
    margin-bottom: 80px;
}
.footer {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


.box {
    background-color: hsla(0,0%,100%,.999);
    background-color: white;
    box-shadow: 0 1.6px 3.6px 0 hsla(0,0%,0%,.132), 0 0.3px 0.9px 0 hsla(0,0%,0%,.108);
    box-shadow: 0 1.6px 3.6px 0 white,0 .3px .9px 0 white;
    display: block;
    padding: 1.25rem;
    border: 1px solid hsla(0,0%,100%,0);
    border: 1px solid lightgray;
}

/* Header */
.logo {
    float: left;
    margin-left: 10px;
    overflow: hidden;
    padding: 0;
    width:200px;
}
    .logo a {
        display: block;
        width: 220px;
        height: 60px;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        color: gray;
    }
    .logo span {
        background-image: url(../image/amanita-design-logo.png);
        background-position: left top;
        background-repeat: no-repeat;
        cursor: pointer;
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
.primayMenuText {
    font-size: 20px;
    color: #111;
    font-weight: 500;
}
@media (min-width: 768px) {
    .navbar-nav {
        float: right;
        margin: 0;
    }   
}

@media (max-width: 768px) {
    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;       
        border: 1px solid;
    }
}

/**Footer*/
.footer {
    width: 940px;
    margin: 0 auto;
    /*padding: 20px;*/
    font-size: 11px;
    text-align: left;
    color: #777674;
    overflow: hidden;
    /*border: 1px solid blue;*/
    font-weight: 700;
   
}
    .footer a {
       
        color: #777674;
    }
.privacy {
    float:right;
}
.wrap-footer, #container:after {
    height: auto;
    min-height: 60px;
    /*border: 1px solid red;*/
    background-color: gainsboro;
    /*position: absolute;*/
    position: absolute;
    margin-top: 20px;
    bottom: 0px;
    width: 100%;
}


/**Tile*/
.tile1 {
    padding: 10px;
    border: none;
    text-align: center;
    /*height: 30%;*/
}
    .tile1 .card {
        margin: 5px;
        height: 450px;
        position: relative;
        box-shadow: 1px 2px 4px rgba(0,0,0,.16), 1px 2px 4px rgba(0,0,0,.23);
        overflow: hidden;
        background: #f1f1ef;
        background-repeat: repeat;
        background-position: center center;
    }
.card-content{
    margin:10px;
}
.card-title {
    margin-bottom: .5769em;
    line-height: 1.0384;
    text-align: left;
}
    .card-title a {
        /*font-family: vinylot-regular,sans-serif;*/
        color: #333;
        font-style: normal;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 20px;
    }
.card-detail {
    margin-bottom: .5769em;
    line-height: 1.0384;
    text-align: left;
}

    .card-detail a {
        /*font-family: vinylot-regular,sans-serif;*/
        color: #000;
        font-style: normal;      
        text-decoration: none;
        font-size: 13px;
    }
.card-more {
    text-align: right;
}
    .card-more a {
      /*//  font-family: vinylot-regular,sans-serif;*/
        color: #000;
        font-style: normal;
        text-decoration: none;
        font-size: 13px;
    }
    .tile1 .tile1imageDiv {
        display: inline-block;
        text-align: center;
       
        /*max-width: 250px;
        width: 160px;
        height: 160px;*/
    }

.tile1image {
    width: 160px;
    height: 160px;

}
.img_resize_fit_center {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.tile1imageDiv .img_resize_fit_center {
    
    max-height: 300px;
  
}
.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.area-div {
    display: inline-block;
    float:none;
}

/**Service page*/
.w3-sidebar {
    height: auto;
    position: absolute !important;
}
.service-menu-title{
    font-weight:600;

}
.service-menu-content{
    font-size:18px;
}
.service-header {
    text-align: left;
    border-bottom: 3px solid orange;
    padding: 20px;
}
.service-content {
    font-size: 18px;
    text-align: left;
}
@media (max-width: 768px) {
    .desktop {
        display:none;
    }
    .mobile{
        display:block;
    }
    .service-content-div {
        margin-left: 0px;
    }
}
@media (min-width: 769px) {
    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    .service-content-div {
        margin-left: 300px;
    }
}

/**Contact*/
.contact-header {
    text-align: left;
    border-bottom: 3px solid rosybrown;
    padding: 20px;
}

/**app*/
.app-header {
    text-align: left;
    border-bottom: 3px solid mediumvioletred;
    padding: 20px;
}
