@{
    ViewBag.Title = "Contact - Galactic Puffin";
}
<p></p>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <h3 class="contact-header" style=" ">
            ABOUT US
        </h3>
        <div class="col-md-12 col-sm-12">
            <p class="service-content">We are Galactic Puffin, a Canadian corporation.</p>
            <p class="service-content">
                Founded on 2019, we focus on providing professional application development services for all the sectors in Canada to help the business to grow.
            </p>
            <p class="service-content">We provide all our clients with cost-effective, innovative business solutions that help them achieve greater profitability.</p>
            <p class="service-content">We provide application development service for all private and public sectors. The services Includes all phases of a development project from management, design, coding, customization, testing, deployment, maintenance of the application.</p>
            <p class="service-content">We also provided resources through time and material or on a fixed price basis model to help your development team and satisfy business requirement.</p>
            <p class="service-content">Our app lab is a small team and is trying to develop some excited, innovative app to convert the great ideas into reality.</p>
            
            
           

        </div>
    </div>

    <div class="col-md-6 col-sm-12">
        <h3 class="contact-header" style=" ">
            CONTACT US
        </h3>
        <div class="col-md-12 col-sm-12">
            <p class="service-content">
                Located at Edmonton, Alberta, Canada
            </p>
            <p class="service-content">

                <strong>Support:</strong>   <a href="mailto:Support@GalacticPuffin.com">Support@GalacticPuffin.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@GalacticPuffin.com">Marketing@GalacticPuffin.com</a>
            </p>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="card-image">
                <a href="#">
                    <div class="detailimageDiv">
                        @{
                            <img id="1" src='/images/edmonton.jpg' alt="" class="img_resize_fit_center">
                        }
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
   
