@{
    ViewBag.Title = "Contact";
}
<p></p>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <h3 class="contact-header" style=" ">
            ABOUT US
        </h3>
        <div class="col-md-12 col-sm-12">
            <p class="service-content">We are Galactic Puffin, a Canadian corporation</p>
            <p class="service-content">Founded at 2019.he metrics include historical time series charts that visually show performance over many years. The data interval are reported on monthly and quarterly basis. This user-friendly, online tool translates to mobile devices and allows for easy, on-the-go access to valuable business information. </p>
            <p class="service-content">For more information about Economic Dashboard, please go to <a href="https://economicdashboard.alberta.ca/">https://economicdashboard.alberta.ca/</a></p>
        </div>
    </div>

    <div class="col-md-6 col-sm-12">
        <h3 class="contact-header" style=" ">
            CONTACT US
        </h3>
        <div class="col-md-12 col-sm-12">
            <p class="service-content">
                Located at Edmonton, Alberta, Canada
            </p>
            <p class="service-content">
               
                <strong>Support:</strong>   <a href="mailto:Support@GalacticPuffin.com">Support@GalacticPuffin.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@GalacticPuffin.com">Marketing@GalacticPuffin.com</a>
            </p>
        </div>
    </div>
</div>
   
