@{
//ViewBag.Title = @ViewBag.Title;
}


<h2> Privacy Commitment</h2>
<p>

    This site respects the privacy of the visitors to our website. This page summarizes the privacy policy and practices on our site.
</p>
<h2>   Personal Information Management</h2>
<p>
    This site does not automatically gather any personal information from you. Information such as name, phone number and e-mail address are only obtained if you provide it to us voluntarily by sending us e-mail, participating on the website through social media functions or by completing an electronic form that requests information. The only information collected that is used to identify you is information you give voluntarily. When you submit a question or comment, you may be asked for your name, e-mail address, or other information. This information is only used to process and respond to your question or comment, or to manage the social media platform and is collected in compliance with section 33 (c) of the Freedom of Information and Protection of Privacy (FOIP) Act. This information is not disclosed except to authorized personnel who need it to answer your question or manage the social media platform.

    Any personal information that we ask you to provide us is collected in accordance with the Freedom of Information and Protection of Privacy (FOIP) Act. We collect only what is necessary for the operation of the web site and to respond to your needs. Our use and disclosure of your personal information is limited by the privacy protection provisions of the FOIP Act.
</p>
<h2>
    Information Collected via the Internet
</h2>
<p>
    When you visit the web site the web server may automatically collects a limited amount of information essential for the operation and security of the site and other sites that reside on the server. Some of this information (e.g. browser type) does not identify who you are. Other information, such as your Internet domain name or IP address, may identify you depending, in large part, on the naming standards followed by your Internet service provider. You may wish to ask them about their policies and practices in this regard.

    This website uses Google Analytics. If you wish to understand more about how Google Analytics collects and processes data, please go to “How Google uses data when you use our partners’ sites or apps”, located at www.google.com/policies/privacy/partners/
</p>
<h2>
    Cookies
</h2>
<p>
    A cookie is a file placed on your hard drive with your temporary internet files while you are visiting a website. We use cookies to track how visitors use our site. We do not store personal information in cookies, nor do we collect personal information from you without your knowledge as you browse this site. We do use cookies to aid in the collection of anonymous statistical information such as browser type, screen size, traffic patterns and pages visited. This information is then used to improve our service to you. If you wish, you may change the settings on your web browser to deny cookies or to warn you when cookies will be deposited.
</p>
<h2>
    Security
</h2>
<p>
    For site security purposes and to ensure that this service remains available to all users, this site uses software programs to monitor network traffic to identify unauthorized attempts to upload or change information, or otherwise cause damage.

    Except for authorized law enforcement investigations, no other attempts are made to identify individual users or their usage habits.
</p>
    <h2>
        Links to Other Sites
    </h2>
    <p>
        This site contains links to a variety of other web sites that provide useful information. We are not responsible for the content and privacy practices of other sites you may visit after you enter this site.
    </p>
